.navbar {
    background: #232323;
    padding: 0rem 2rem;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;

    .navbar-logo {
        color: white;
        font-size: 24px;
        text-decoration: none;
        display: flex;
        align-items: center;

        h2 {
            color: #19a7ce;
        }
    }
}

.navbar-links {
    display: flex;
    gap: 20px;


    button {
        padding: 8px 16px;
        background-color: #ff4081;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    button:hover {
        background-color: #e04073;
    }
}

.navbar-link {
    color: white;
    margin-right: 10px;
    text-decoration: none;
}