.home-container {
    display: flex;
    align-items: flex-start;
    // min-height: 100vh;
    width: 100%;

    .home-left {
        flex: 1;
        padding: 20px;
        border-right: 1px solid #ddd;
    }

    .home-right {
        flex: 1;
        padding: 20px;
    }

    .username {
        color: #fff;
        font-size: 2.5rem;
        margin-top: 0;

        span {
            color: #19a7ce;
        }
    }

    h1 {
        color: #19a7ce;
        font-size: 5.5rem;
        font-weight: bolder;
        letter-spacing: .8rem;
        margin-top: 0;
        margin-bottom: 2rem;
    }

    .home-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
}